In [31]:
import pandas as pd

In [32]:
df=pd.read_csv("heart.csv")

In [33]:
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [34]:
df.shape

(1025, 14)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [36]:
df.duplicated().sum()

723

In [37]:
df=df.drop_duplicates()

In [48]:
df.shape

(302, 14)

In [49]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()

In [50]:
x=['age','trestbps','chol','thalach']

In [51]:
df[x]=ss.fit_transform(df[x])

In [52]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.267966,1,0,-0.376556,-0.667728,0,1,0.806035,0,1.0,2,2,3,0
1,-0.157260,1,0,0.478910,-0.841918,1,0,0.237495,1,3.1,0,0,3,0
2,1.724733,1,0,0.764066,-1.403197,0,1,-1.074521,1,2.6,0,0,3,0
3,0.728383,1,0,0.935159,-0.841918,0,1,0.499898,0,0.0,2,1,3,0
4,0.839089,0,0,0.364848,0.919336,1,1,-1.905464,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,1.503322,0,2,-0.661712,-0.687083,0,0,-1.511859,0,1.5,1,0,2,1
733,-1.153610,0,2,-1.346085,-2.041893,0,1,1.112172,0,0.6,1,0,2,1
739,-0.267966,1,0,-0.205463,0.164513,0,1,0.499898,1,0.0,2,1,3,0
843,0.506972,1,3,1.619532,0.512893,0,0,-1.074521,0,0.0,2,0,2,0
878,-0.046555,1,0,-0.661712,-1.132235,0,1,-1.599327,0,1.4,1,1,3,0

In [55]:
df=df.reset_index()

In [59]:
df.columns

Index(['index', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [77]:
X=df[['index', 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
Y=df['target']

In [122]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score,confusion_matrix

In [118]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [119]:
from sklearn.linear_model import LogisticRegression

In [80]:
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [81]:
y_pred=model.predict(x_test)

In [83]:
accuracy_score(y_pred,y_test)

0.8461538461538461

In [131]:
cf=confusion_matrix(y_test,y_pred)
cf

array([[29,  7],
       [ 7, 48]], dtype=int64)

In [136]:
    print(f"The number of True Positive Values are ",cf[0,0])
    print(f"The number of False Negative Values are ",cf[0,1])
    print(f"The number of False Positive Values are ",cf[1,0])
    print(f"The number of True Negative Values are ",cf[1,1])

The number of True Positive Values are  29
The number of False Negative Values are  7
The number of False Positive Values are  7
The number of True Negative Values are  48

In [91]:
def mdl(model_name,x,y):
    
    x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)
    
    model_name.fit(x_train,y_train)
    
    yy_pred=model_name.predict(x_test)
    
    cf=confusion_matrix(y_train,yy_pred)
    print(f"The number of True Positive Values are ",df[[0,0]])
    print(f"The number of False Negative Values are ",df[[0,0]])
    print(f"The number of False Positive Values are ",df[[0,0]])
    print(f"The number of True Negative Values are ",df[[0,0]])
    
    acc=accuracy_score(y_test,yy_pred)
    print(f"The accuracy Score of the {model_name} is: ",acc)

In [107]:
from sklearn.linear_model import LogisticRegression
mdl(LogisticRegression(),X,Y)

0.8461538461538461

C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [108]:
from sklearn.svm import SVC
mdl(SVC(),X,Y)

0.5054945054945055

In [109]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
mdl(knn,X,Y)

0.5164835164835165

In [110]:
from sklearn.ensemble import AdaBoostClassifier
mdl(AdaBoostClassifier(),X,Y)

0.7582417582417582

In [111]:
from sklearn.ensemble import BaggingClassifier
mdl(BaggingClassifier(),X,Y)

0.7582417582417582

In [112]:
from sklearn.ensemble import GradientBoostingClassifier
mdl(GradientBoostingClassifier(),X,Y)

0.8021978021978022

In [113]:
from sklearn.ensemble import RandomForestClassifier
mdl(RandomForestClassifier(),X,Y)

0.8241758241758241

In [114]:
from sklearn.tree import DecisionTreeClassifier
mdl(DecisionTreeClassifier(),X,Y)

0.7802197802197802

In [120]:
#from sklearn.naive_bayes import CategoricalNB
#mdl(CategoricalNB(),X,Y)