In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("Admission_Predict_Ver1.1.csv")

In [19]:
df.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [21]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [23]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [24]:
x=df[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research']]
y=df['Chance of Admit ']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [27]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [28]:
ss=StandardScaler()

In [29]:
df[['GRE Score', 'TOEFL Score']]=ss.fit_transform(df[['GRE Score', 'TOEFL Score']])

In [30]:
df.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,1.819238,1.778865,4,4.5,4.5,9.65,1,0.92
1,2,0.667148,-0.031601,4,4.0,4.5,8.87,1,0.76
2,3,-0.041830,-0.525364,3,3.0,3.5,8.00,1,0.72

In [31]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()

In [32]:
model.fit(x_train,y_train)

LinearRegression()

In [33]:
yy_pred=model.predict(x_test)
yy_pred

array([0.91671434, 0.79672064, 0.57180612, 0.71580724, 0.81617383,
       0.8612493 , 0.47985558, 0.65844698, 0.82545935, 0.80616338,
       0.72603956, 0.73356584, 0.64920994, 0.93492235, 0.82589179,
       0.51488085, 0.83577168, 0.59422903, 0.53926776, 0.56606545,
       0.65996863, 0.55658375, 0.71982238, 0.79056156, 0.77782531,
       0.60274543, 0.95074019, 0.84587652, 0.63051702, 0.7423386 ,
       0.56001703, 0.73819431, 0.54928488, 0.86189019, 0.64977799,
       0.73400705, 0.55865017, 0.95898061, 0.64080476, 0.70820585,
       0.96889306, 0.56991311, 0.66645093, 0.85680589, 0.94112371,
       0.5849207 , 0.95919771, 0.83632037, 0.79013162, 0.92716105,
       0.89008115, 0.56639772, 0.71161026, 0.52403752, 0.95348304,
       0.594495  , 0.95864184, 0.74667662, 0.67139925, 0.49631805,
       0.63153832, 0.67670538, 0.60450884, 0.5961314 , 0.44176024,
       0.58925434, 0.86723623, 0.8971812 , 0.66311793, 0.71250586,
       0.61329894, 0.78265372, 0.69479416, 0.5633421 , 0.55905885,
       0.65755067, 0.85148541, 0.86360557, 0.53877913, 0.63367262,
       0.77429685, 0.84927071, 0.62344406, 0.84585276, 0.72702747,
       0.65724627, 0.61115792, 0.73353853, 0.79008216, 0.66861867,
       0.73995702, 0.91016105, 0.91200344, 0.65499664, 0.77566069,
       0.43684664, 0.69028974, 0.78024276, 0.73142263, 0.65329033,
       0.79142548, 0.7486179 , 0.65198306, 0.6748679 , 0.64961946,
       0.54505024, 0.73207723, 0.80611097, 0.63032   , 0.69557263,
       0.64283881, 0.95364424, 0.84527769, 0.96908852, 0.46461948,
       0.82193326, 0.67623638, 0.88476412, 0.4984886 , 0.68591848,
       0.72300789, 0.88644345, 0.7200931 , 0.75131663, 0.6875179 ,
       0.69755743, 0.56876664, 0.99573746, 0.84626775, 0.51842572,
       0.71550443, 0.72684032, 0.84586819, 0.52526922, 0.82590463,
       0.50559494, 0.82417479, 0.96496785, 0.65644943, 0.68554748,
       0.80362043, 0.62442397, 0.81702684, 0.53109242, 0.94885759,
       0.66158549, 0.96588985, 0.78740853, 0.64394379, 0.72289391,
       0.87696507, 0.66648117, 0.83131284, 0.7228409 , 0.60511116,
       0.60230664, 0.74770179, 0.80587376, 0.51231729, 0.6063867 ,
       0.67849286, 0.76141131, 0.72972624, 0.49109349, 0.60776654])

In [34]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [35]:
mean_absolute_error(y_test,yy_pred)

0.04308877289679922

In [36]:
mean_squared_error(y_test,yy_pred)

0.0036214300812172627

In [37]:
dff=pd.DataFrame({"Actual Output":y_test,"Pred Output":yy_pred})
dff=dff.reset_index()
dff

     index  Actual Output  Pred Output
0      361           0.93     0.916714
1       73           0.84     0.796721
2      374           0.39     0.571806
3      155           0.77     0.715807
4      104           0.74     0.816174
..     ...            ...          ...
160    110           0.61     0.678493
161    318           0.79     0.761411
162    428           0.69     0.729726
163     29           0.54     0.491093
164    437           0.61     0.607767

[165 rows x 3 columns]

In [38]:
from sklearn.svm import SVR

In [39]:
model1=SVR()
model1.fit(x_train,y_train)

SVR()

In [43]:
model1.get_params