In [1]:
import pandas as pd

In [189]:
df=pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [190]:
df.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [191]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [192]:
df.shape

(614, 13)

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [194]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [195]:
df.isnull().sum()*100/len(df)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [196]:
df=df.drop(columns=['Loan_ID'])

In [197]:
columns=['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [198]:
df=df.dropna(subset=columns)

In [199]:
df.shape

(553, 12)

In [200]:
df[['Credit_History','Self_Employed']]

     Credit_History Self_Employed
1               1.0            No
2               1.0           Yes
3               1.0            No
4               1.0            No
5               1.0           Yes
..              ...           ...
609             1.0            No
610             1.0            No
611             1.0            No
612             1.0            No
613             0.0           Yes

[553 rows x 2 columns]

In [201]:
df['Self_Employed'].isnull().sum()

30

In [202]:
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)

In [203]:
df['Credit_History'].isnull().sum()

48

In [204]:
df['Credit_History'].mean()

0.8594059405940594

In [205]:
df['Credit_History'].mode()

0    1.0
dtype: float64

In [206]:
df.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       48
Property_Area         0
Loan_Status           0
dtype: int64

In [207]:
df['Credit_History'].fillna(df['Credit_History'].mean(),inplace=True)

In [208]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [209]:
df.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
308,Male,No,0,Graduate,No,20233,0.0,480.0,360.0,1.0,Rural,N
417,Male,Yes,2,Graduate,Yes,1600,20000.0,239.0,360.0,1.0,Urban,N
580,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y
287,Male,Yes,0,Graduate,No,3704,2000.0,120.0,360.0,1.0,Rural,Y
255,Female,No,3+,Graduate,No,3083,0.0,255.0,360.0,1.0,Rural,Y

In [210]:
df['Dependents'].unique()

array(['1', '0', '2', '3+'], dtype=object)

In [211]:
df['Dependents']=df['Dependents'].replace(to_replace='3+',value='4')

In [212]:
df['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [213]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [214]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [215]:
df['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [216]:
df.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [217]:
df['Gender']= df['Gender'].map({"Male":1,"Female":0}).astype('int')
df['Married']= df['Married'].map({"Yes":1,"No":0}).astype('int')
df['Education']= df['Education'].map({"Graduate":1,"Not Graduate":0}).astype('int')
df['Self_Employed']= df['Self_Employed'].map({"Yes":1,"No":0}).astype('int')
df['Property_Area']= df['Property_Area'].map({"Rural":0,"Urban":1,"Semiurban":2}).astype('int')
df['Loan_Status']= df['Loan_Status'].map({"Y":1,"N":0}).astype('int')

In [218]:
df.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1

In [219]:
X=df.drop(columns=['Loan_Status'])
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2

In [220]:
y=df['Loan_Status']
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int32

In [221]:
columns=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
X[columns]=ss.fit_transform(X[columns])

In [222]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

In [223]:
from sklearn.model_selection import train_test_split

from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score

import numpy as np

In [224]:
model_df={}

def model_val(model_no,X,y):
    x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
    model_no.fit(x_train,y_train)
    y_pred=model_no.predict(x_test)
    print(f"{model_no} has accuracy score of {accuracy_score(y_test,y_pred)}")
    
    score=cross_val_score(model_no,X,y,cv=5)
    print(score)
    
    print(f'{model_no} has average cross validation score is {np.mean(score)}')
    
    model_df[model_no]=round(np.mean(score)*100,2)


# LogisticRegression

In [225]:
from sklearn.linear_model import LogisticRegression

LG=LogisticRegression()

model_val(LG,X,y)

LogisticRegression() has accuracy score of 0.8018018018018018
[0.79279279 0.78378378 0.78378378 0.84545455 0.8       ]
LogisticRegression() has average cross validation score is 0.8011629811629811

# Support Vector Machine

In [226]:
from sklearn import svm

model=svm.SVC()

model_val(model,X,y)

SVC() has accuracy score of 0.8108108108108109
[0.8018018  0.78378378 0.77477477 0.81818182 0.79090909]
SVC() has average cross validation score is 0.7938902538902539

# Decision Tree

In [227]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()

model_val(model,X,y)

DecisionTreeClassifier() has accuracy score of 0.7657657657657657
[0.72972973 0.7027027  0.68468468 0.7        0.74545455]
DecisionTreeClassifier() has average cross validation score is 0.7125143325143326

# Random Forest

In [228]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() has accuracy score of 0.7567567567567568
[0.76576577 0.74774775 0.8018018  0.79090909 0.80909091]
RandomForestClassifier() has average cross validation score is 0.7830630630630631

In [229]:
from sklearn.ensemble import GradientBoostingClassifier

model=GradientBoostingClassifier()

model_val(model,X,y)

GradientBoostingClassifier() has accuracy score of 0.7207207207207207
[0.77477477 0.72072072 0.78378378 0.80909091 0.78181818]
GradientBoostingClassifier() has average cross validation score is 0.774037674037674

In [230]:
model_df

{LogisticRegression(): 80.12,
 SVC(): 79.39,
 DecisionTreeClassifier(): 71.25,
 RandomForestClassifier(): 78.31,
 GradientBoostingClassifier(): 77.4}

# Hyper_Parameters

# Grid Search CV

# Rendomized Search CV


RandomizedSearchCV and GridSearchCV are techniques used for hyperparameter tuning in machine learning models. Hyperparameters are the configuration settings of a model that are not learned during training but need to be set before training begins. These settings significantly impact the performance of the model, and finding the optimal values for hyperparameters can greatly improve the model's accuracy and generalization.

GridSearchCV:
GridSearchCV performs an exhaustive search over a specified hyperparameter grid. It takes a predefined set of hyperparameters and their possible values and trains the model using all possible combinations of these hyperparameters. For each combination, it uses cross-validation to evaluate the model's performance. The hyperparameter combination that yields the best performance based on the evaluation metric is selected as the optimal set of hyperparameters.
The main advantage of GridSearchCV is that it exhaustively explores all possible hyperparameter combinations, ensuring that you find the best combination within the specified grid. However, it can be computationally expensive and time-consuming, especially when dealing with a large number of hyperparameters and their possible values.

RandomizedSearchCV:
RandomizedSearchCV, on the other hand, performs a randomized search over a specified hyperparameter distribution. Instead of trying all possible combinations like GridSearchCV, it samples a fixed number of hyperparameter combinations from the specified distribution. This random sampling allows it to explore a wide range of hyperparameter values efficiently.
RandomizedSearchCV is particularly useful when the hyperparameter search space is large, and performing an exhaustive search with GridSearchCV would be impractical due to time and resource constraints.

# Hyperparameters of Logistics Regression

In [231]:
from sklearn.model_selection import RandomizedSearchCV

In [232]:
log_red_grid={
    'C':np.logspace(-4,4,num=20),
    'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']         
}

In [233]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),param_distributions=log_red_grid,n_iter=10,cv=5,verbose=True)
rs_log_reg

RandomizedSearchCV(cv=5, estimator=LogisticRegression(),
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['newton-cg', 'lbfgs',
                                                   'liblinear', 'sag',
                                                   'saga']},
                   verbose=True)

In [234]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Downloaded Software\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

RandomizedSearchCV(cv=5, estimator=LogisticRegression(),
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['newton-cg', 'lbfgs',
                                                   'liblinear', 'sag',
                                                   'saga']},
                   verbose=True)

In [235]:
rs_log_reg.best_estimator_

LogisticRegression(C=0.23357214690901212, solver='newton-cg')

In [236]:
rs_log_reg.best_score_

0.8047829647829647

# Hyper-Parameters of Support Vector Machine

In [237]:
svc_grid={'C':[0.25,0.5,0.75,1],"kernel":['linear']}

In [238]:
rs_grid=RandomizedSearchCV(svm.SVC(),param_distributions=svc_grid,n_iter=5,cv=5,
    verbose=True)
rs_grid

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=5,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [239]:
rs_grid.fit(X,y)

C:\Downloaded Software\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 4 is smaller than n_iter=5. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=5,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [240]:
rs_grid.best_params_

{'kernel': 'linear', 'C': 0.25}

In [241]:
rs_grid.best_score_

0.8066011466011467

# HyperParameters of Random Forest

In [242]:
RandomForestClassifier()

RandomForestClassifier()

In [243]:
rf_grid={'n_estimators':np.arange(10,1000,10),
        'max_features':['auto','sqrt'],
         'max_depth':[None,3,5,10,30],
        'min_samples_split':[2,5,20,50,100],
         "min_samples_leaf":[1,5,10,15]
        }

In [244]:
rff=RandomizedSearchCV(RandomForestClassifier(),param_distributions=rf_grid,n_iter=5,cv=5,verbose=True)
rff

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=5,
                   param_distributions={'max_depth': [None, 3, 5, 10, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 5, 10, 15],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [245]:
rff.fit(X,y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=5,
                   param_distributions={'max_depth': [None, 3, 5, 10, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 5, 10, 15],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [246]:
rff.best_estimator_

RandomForestClassifier(max_depth=3, max_features='sqrt', min_samples_leaf=10,
                       min_samples_split=100, n_estimators=300)

In [247]:
rff.best_score_

0.8066011466011467

# Without Hyper-Parameters

LogisticRegression() has accuracy score of 80.12,

SVC() has accuracy score of 79.39

RandomForestClassifier() has accuracy score of 78.31

# With Hyper-Parameters

LogisticRegression() has accuracy score of 0.8047829647829647

SVC() has accuracy score of 0.8066011466011467

RandomForestClassifier() has accuracy score of 0.8066011466011467

# Saving Model

In [248]:
X.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0

In [249]:
y.head(1)

1    0
Name: Loan_Status, dtype: int32

In [250]:
RFC=RandomForestClassifier(max_depth=3, max_features='sqrt', min_samples_leaf=5,
                       n_estimators=730)

In [255]:
rf=RFC.fit(X,y)

In [256]:
pip install joblib

Note: you may need to restart the kernel to use updated packages.

'C:\Downloaded' is not recognized as an internal or external command,
operable program or batch file.

In [257]:
import joblib

In [258]:
joblib.dump(rf,'loan_prediction')

['loan_prediction']

In [259]:
model=joblib.load('loan_prediction')

In [263]:
result=model.predict([[1,1,2,0,0,-0.128694,-0.049699,-0.214368,0.279961,0,1]])

In [264]:
result

array([0])

In [265]:
if result==0:
    print("Loan is Not Approved")
else:
    print("Loan is Approved")

Loan is Not Approved

In [278]:
from tkinter import *

import joblib

import pandas as pd

In [282]:
def show_entry():
    p1= float (el.get())

    p2= float(e2.get())

    p3= float(e3.get())

    p4= float(e4.get())

    p5 = float(e5.get())

    p6 =float(e6.get())

    p7 =float (e7.get())

    p8= float(e8.get())

    p9float(e9.get())

    p10= float(e10.get())

    p11= float(ell.get())



    model= joblib.load ('loan_status_predict')

    df =pd.DataFrame({

    'Gender' : p1,

    'Married': p2,


    'Dependents':p3,

    'Education' : p4,

    'Self Employed': p5,

    'Applicant Income' : p6,

    'Coapplicant Income' : p7,

    'LoanAmount' : p8,

    'Loan_Amount_Term' : p9,

    'Credit History' : p10,

    'Property Area': p11},index=[0]) 
    result = model.predict(df)

    if result == 1:
    
        Label(master, text="Loan approved").grid (row-31)

    
    else:
        Label(master, text="Loan Not Approved").grid (row=31)
        
master =Tk()

master.title("Loan Status Prediction Using Machine Learning")

label= Label(master, text= "Loan Status Prediction", bg = "black",

fg= "white"). grid (row=0,columnspan=2)

Label(master, text = "Gender [1:Male ,0: Female]").grid (row=1)

Label(master, text = "Married [1: Yes,8:No]").grid (row=2)

Label(master, text = "Dependents [1,2,3,4]").grid (row=3)

Label(master, text = "Education"). grid(row=4)

Label(master, text = "Self Employed").grid (row=5)

Label(master, text = "Applicant Income"). grid (row=6)

Label(master, text= "Coapplicant Income"). grid(row=7)

Label(master, text= "LoanAmount"). grid(row=8)

Label(master, text= "Loan_Amount_Term").grid(row=9)

Label(master,text = "Credit History"). grid (row-10)

Label(master, text= "Property_Area").grid(row=11)
      
Entry(master)

el =Entry(master)

e2= Entry (master)

e3= Entry(master)

e4 =Entry(master)

e5= Entry (master)

e6 =Entry(master)

e7= Entry (master)

e8= Entry(master)

e9= Entry(master)


e10 = Entry(master)

e11= Entry(master)
     
      
      
el.grid(row=1, column=1)

e2.grid(row=2, column=1)

e3.grid(row=3, column=1)

e4.grid(row=4, column=1)

e5.grid(row=5,column=1)

e6.grid(row=6, column=1)

e7.grid(row=7,column=1)

e8.grid(row=8, column=1)

e9.grid(row=9,column=1)

e10.grid(row=10,column=1)

ell.grid(row=11, column=1)

Button(master, text="Predict", command=show_entry). grid()

mainloop()

NameError: name 'row' is not defined

In [ ]:
from tkinter import *
import pandas as pd
import joblib

def show_entry():
    p1 = float(el.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())

    model = joblib.load('loan_status_predict')

    df = pd.DataFrame({
        'Gender': p1,
        'Married': p2,
        'Dependents': p3,
        'Education': p4,
        'Self Employed': p5,
        'Applicant Income': p6,
        'Coapplicant Income': p7,
        'LoanAmount': p8,
        'Loan_Amount_Term': p9,
        'Credit History': p10,
        'Property Area': p11
    }, index=[0])

    result = model.predict(df)

    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)

master = Tk()
master.title("Loan Status Prediction Using Machine Learning")

label = Label(master, text="Loan Status Prediction", bg="black", fg="white").grid(row=0, columnspan=2)
Label(master, text="Gender [1:Male, 0:Female]").grid(row=1)
Label(master, text="Married [1:Yes, 0:No]").grid(row=2)
Label(master, text="Dependents [1, 2, 3, 4]").grid(row=3)
Label(master, text="Education").grid(row=4)
Label(master, text="Self Employed").grid(row=5)
Label(master, text="Applicant Income").grid(row=6)
Label(master, text="Coapplicant Income").grid(row=7)
Label(master, text="LoanAmount").grid(row=8)
Label(master, text="Loan_Amount_Term").grid(row=9)
Label(master, text="Credit History").grid(row=10)
Label(master, text="Property_Area").grid(row=11)

el = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)

el.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10, column=1)
e11.grid(row=11, column=1)

Button(master, text="Predict", command=show_entry).grid()

mainloop()