In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("insurance.csv")

In [3]:
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [4]:
df.shape

(1338, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# Checking Null Values

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Removing Duplicates

In [7]:
df.duplicated().sum()

1

In [8]:
df[df.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [9]:
df[(df['age']==19) & (df['sex']=='male') & (df['charges']==1639.5631)]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [10]:
df=df.drop_duplicates()

In [11]:
df.shape

(1337, 7)

# Categorical to Numerical

In [12]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [13]:
df[['sex','smoker','region']].head(2)

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast

In [14]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [15]:
df['sex']=df['sex'].map({'male':1,'female':0})

In [16]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [17]:
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [18]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [19]:
df['region']=df['region'].map({'southwest':1,'southeast':2,'northwest':3,'northeast':4})

In [20]:
#df=pd.get_dummies(df,columns=['region'],drop_first=True)
#df.head(2)

In [21]:
X=df.drop(columns='charges')
y=df['charges']
print(X.head(2))
print(y)

   age  sex    bmi  children  smoker  region
0   19    0  27.90         0       1       1
1   18    1  33.77         1       0       2
0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [24]:
y_train.shape

(1069,)

In [25]:
x_train.shape

(1069, 6)

In [26]:
from sklearn.linear_model import LinearRegression 

from sklearn.svm import SVR

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import GradientBoostingRegressor

In [27]:
model_1=LinearRegression()
model_1.fit(x_train,y_train)
y_pred_1=model_1.predict(x_test)

In [28]:
model_2=SVR()
model_2.fit(x_train,y_train)
y_pred_2=model_2.predict(x_test)

In [29]:
model_3=RandomForestRegressor()
model_3.fit(x_train,y_train)
y_pred_3=model_3.predict(x_test)

In [30]:
model_4=GradientBoostingRegressor()
model_4.fit(x_train,y_train)
y_pred_4=model_4.predict(x_test)

In [31]:
df1=pd.DataFrame({"Actual":y_test,"Linear_Regression":y_pred_1,"SVM":y_pred_2,'Random Forest':y_pred_3,"Gradient_Boosting":y_pred_4},)

In [32]:
df1=df1.reset_index()
df1=df1.drop(columns=['index'])
df1

,Actual,Linear_Regression,SVM,Random Forest,Gradient_Boosting
0,2395.17155,1513.380828,9169.562178,8382.328812,5688.177552
1,11286.53870,11829.884003,9361.424472,12582.500264,12406.907498
2,9617.66245,10326.563538,9329.674867,14167.294727,11447.046502
3,1719.43630,2295.474196,9155.418825,1968.878524,3244.706630
4,8891.13950,8305.960592,9286.324667,11299.865988,9156.340659
...,...,...,...,...,...
263,1727.78500,-1879.596183,9163.997731,1764.798665,9193.960478
264,11566.30055,15794.548879,9372.187863,16492.590978,13050.594624
265,13019.16105,14092.096729,9378.285266,13088.859856,13074.135352
266,8978.18510,13265.559780,9320.514335,11908.752637,10696.036766
267,2730.10785,6124.103618,9166.585877,10871.180793,4591.778183

In [33]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [34]:
e1=mean_absolute_error(y_test,y_pred_1)
e2=mean_absolute_error(y_test,y_pred_2)
e3=mean_absolute_error(y_test,y_pred_3)
e4=mean_absolute_error(y_test,y_pred_4)

In [35]:
print("The mean absolute error of Linear_REgression is",e1)
print("The mean absolute error of SVM ",e2)
print("The mean absolute error of Random_Forest is is ",e3)
print("The mean absolute error of Gradient_Bossting is",e4)

The mean absolute error of Linear_REgression is 4475.105478240109
The mean absolute error of SVM  8411.230618240705
The mean absolute error of Random_Forest is is  2702.0698988275003
The mean absolute error of Gradient_Bossting is 2476.918387027537

In [36]:
model_1.predict([[19,0,27.900,0,1,1]])

c:\Users\Syed Daud Ali\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([25332.06285732])

In [37]:
score1 = r2_score(y_test,y_pred_1)
score2 =r2_score(y_test,y_pred_2)
score3 = r2_score(y_test,y_pred_3)
score4 = r2_score(y_test,y_pred_4)

In [38]:
print(score1)
print(score2)
print(score3)
print(score4)

0.7164204424900911
-0.09671742214253931
0.8309013437929296
0.8516854973530517

In [39]:
gb=GradientBoostingRegressor()
gb.fit(x_train,y_train)

GradientBoostingRegressor()

In [40]:
import joblib

In [41]:
joblib.dump(gb,'model_pred_gb')

['model_pred_gb']

In [42]:
pred=joblib.load('model_pred_gb')

In [43]:
pred.predict(x_train[:1])

array([6538.10556905])

In [44]:
y_train[:1]

660    6435.6237
Name: charges, dtype: float64

In [45]:
from tkinter import *
import pandas as pd
import joblib

def show_entry():
    p1 = float(el.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    
    model = joblib.load('model_pred_gb')
    result=model.predict([[p1,p2,p3,p4,p5,p6]])
    
    Label(master,text='Insurance Cost').grid(row=7)
    Label(master,text=result).grid(row=8)
    
    
master = Tk()
master.title("Insurance Cost Prediction")
label = Label(master, text="Insurance Cost Prediction", bg="black", fg="white").grid(row=0, columnspan=2)

Label(master, text="Enter Your Age: ").grid(row=1)
Label(master, text="Male or Female 1/0: ").grid(row=2)
Label(master, text="Enter Your BMI Value: ").grid(row=3)
Label(master, text="Enter Number of childernL ").grid(row=4)
Label(master, text="Smoker 1/0: ").grid(row=5)
Label(master, text="Region 1-4: ").grid(row=6)

el = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)


el.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)


Button(master, text="Predict", command=show_entry).grid()

mainloop()

In [46]:

'''def show_entry():
    p1 = float(el.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11 = float(e11.get())

    model = joblib.load('loan_status_predict')

    df = pd.DataFrame({
        'Gender': p1,
        'Married': p2,
        'Dependents': p3,
        'Education': p4,
        'Self Employed': p5,
        'Applicant Income': p6,
        'Coapplicant Income': p7,
        'LoanAmount': p8,
        'Loan_Amount_Term': p9,
        'Credit History': p10,
        'Property Area': p11
    }, index=[0])

    result = model.predict(df)

    if result == 1:
        Label(master, text="Loan approved").grid(row=31)
    else:
        Label(master, text="Loan Not Approved").grid(row=31)
'''

'def show_entry():\n    p1 = float(el.get())\n    p2 = float(e2.get())\n    p3 = float(e3.get())\n    p4 = float(e4.get())\n    p5 = float(e5.get())\n    p6 = float(e6.get())\n    p7 = float(e7.get())\n    p8 = float(e8.get())\n    p9 = float(e9.get())\n    p10 = float(e10.get())\n    p11 = float(e11.get())\n\n    model = joblib.load(\'loan_status_predict\')\n\n    df = pd.DataFrame({\n        \'Gender\': p1,\n        \'Married\': p2,\n        \'Dependents\': p3,\n        \'Education\': p4,\n        \'Self Employed\': p5,\n        \'Applicant Income\': p6,\n        \'Coapplicant Income\': p7,\n        \'LoanAmount\': p8,\n        \'Loan_Amount_Term\': p9,\n        \'Credit History\': p10,\n        \'Property Area\': p11\n    }, index=[0])\n\n    result = model.predict(df)\n\n    if result == 1:\n        Label(master, text="Loan approved").grid(row=31)\n    else:\n        Label(master, text="Loan Not Approved").grid(row=31)\n'

In [47]:
%%html
<!DOCTYPE html>
<html>
<head>
    <title>My HTML File</title>
</head>
<body>
    <h1>Hello, this is an HTML file created in Jupyter Notebook!</h1>
    <p>This is a paragraph in the HTML file.</p>
</body>
</html>